
* {
    margin: 0;
    padding: 0;
}
img {
    position: relative;
    width: 100%;
    height: 100vh;
}

h1 {
    position: absolute;
    top: 50%;
    right: 50%;
    /* transform: translate(-50%,-50%); */
    color: #fff;
    font-size: 50px;
}

#countdown {
    font-size: 100px;
}